body {
    font-family: Arial, sans-serif;
    background-color: #08d5f0cd;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 10px 10px 10px 10px rgba(7, 7, 7, 0.21)
}
.Add_Task {
    margin:0 auto;

}
#task-form {
    margin-bottom: 20px;
}

#task-list {
    list-style: none;
    padding: 0;
}

.task-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.task-item button {
    margin-left: 10px;
}
